<h1>Lista de Alimentos</h1>
<a href="/add-alimento" class="btn btn-primary mb-3">Adicionar Novo Alimento</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each alimentos}}  
      <tr>
        <td>{{this.nome}}</td>
        <td>{{this.quantidade}}</td>
        <td>{{this.descricao}}</td>
        <td>
                    <form action="/alimentos/delete/{{this.id}}" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja deletar este alimento?');">Deletar</button>
          </form>
        </td>
      </tr>
    {{/each}} 
  </tbody>
</table>
