{{!-- views/sobre.handlebars --}}
<div class="container mt-4">
    <h1>Sobre o Projeto</h1>
    <p>Este projeto visa criar uma plataforma para conectar pessoas que desejam trocar alimentos excedentes, combatendo o desperdício e promovendo a segurança alimentar.</p>
    <p>Desenvolvido com Node.js, Express e MySQL, como parte dos requisitos da disciplina Análise e Desenvolvimento de Sistemas.</p>
    <p>Funcionalidades incluem cadastro de alimentos, informações de geolocalização, chat entre usuários e sistema de avaliação de trocas.</p>
    {{!-- Adicione mais informações sobre o projeto, objetivos, etc. --}}
     <a href="/" class="btn btn-secondary mt-3">Voltar para a Home</a>
</div>